{% extends "main.html" %}
{% load static %}
{%block content%}
<h1>Test User<h1>

    {% if user.is_authenticated %}
    <p>Welcome {{ user.username }} !!!</p> 
    <ul>
    <img src="{% static user.avatar%}"/>
    <li>{{user.last_name}}</li> 
    <li>{{user.first_name}}</li> 
    <li>{{user.email}}</li> 
    </ul>
    <a href="{% url 'auth_app:update_user' %}"> modifier son profil</a>
    <a href="{% url 'auth_app:logout' %}">logout</a> 
    <form action="{% url 'auth_app:delete_user' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="supprimer le compte">
            </form>
    {%else%}
    <a href="{% url 'auth_app:login' %}">connecté vous !</a>
    <a href="{% url 'auth_app:signup' %}">pas encore inscrit cliquez ici !</a>
    {% endif %}
{%endblock%}