{% extends "main.html" %}
{% load static %}


{%block content%}


<p>{{restaurant.name}}<p>
<img src="{% static restaurant.image%}"/>
<p>{{restaurant.adress}}<p>
<p>{{restaurant.price}}<p>
<p>{{restaurant.creator}}<p>
<p>{{restaurant.inclusive_type}}<p>
<p>{{restaurant.food_type}}<p>

    <form action="{% url 'likeNcom_app:addOrDelete_like' restaurant.id %}" method="post">
        {% csrf_token %}
    {% if like %}
    <input type="submit" value="unlike">
</form>
    {% else %}
    <input type="submit" value="like">
</form>
    {% endif %}
       
<p>{{restaurant.likes.count}}</p>

{% if commentaires %}

{% for commentaire in commentaires %}
<p>{{commentaire.user.username}}</p>
<p>{{commentaire.content}}</p>
{% if user == commentaire.user %}
<a href="{% url 'likeNcom_app:deleteComment' restaurant.id commentaire.id%}"><button>supprimer ce commentaire</button></a>


{% endif %}

{% endfor %}
{% endif %}


<form method="post" action="{% url 'likeNcom_app:addComment' restaurant.id %}" >
    {% csrf_token %} 
    {{ form.as_p }}
    <button type="submit">Ajouté un commentaire</button>
  </form>


{% comment %} <img src="{% 'restaurant.image' %}" /> {% endcomment %}





{%endblock%}