
{% extends "main.html" %}

{%block content%}


<p>{{restaurant.name}}<p>
<p>{{restaurant.adress}}<p>
<p>{{restaurant.price}}<p>
<p>{{restaurant.creator}}<p>
<p>{{restaurant.inclusive_type}}<p>
<p>{{restaurant.food_type}}<p>
<p>{{restaurant.image}}<p>
    <form action="{% url 'likeNcom_app:addOrDelete_like' restaurant.id %}" method="post">
        {% csrf_token %}
    {% if restaurant.likes.user == user %}
    <input type="submit" value="unlike">
</form>
    {% else %}
    <input type="submit" value="like">
</form>
    {% endif %}
       
<p>{{restaurant.likes.count}}</p>
{% comment %} <img src="{% 'restaurant.image' %}" /> {% endcomment %}





{%endblock%}