
{% extends "main.html" %}

{%block content%}

<h1>Restaurants ajouté par {{user.username}} <h1>

    {% for restaurant in restaurantsOfUser %}
    <p>{{restaurant.name}}</p>
    <p>{{restaurant.inclusive_type}}</p>
    <p>{{restaurant.adress}}</p>
    <p>

    <form action="{% url 'food_app:restaurant_delete' restaurant.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
        </form>
    
    
    </br>
    <a href="{% url 'food_app:update_restaurant' restaurant.id%}">Modifier ce restaurant</a>

{%endfor%}
<a href="{% url 'food_app:add_restaurant'%}">Ajouté un nouveau restaurant </a>





{%endblock%}